---
---
<header class="site-header">
  <a href="/" class="brand" aria-label="Zoe Pedersen home">
    <span class="brand-mark">ZP</span>
    <span class="brand-text">Zoe Pedersen</span>
  </a>
  <nav class="nav">
    <a href="/#glasgow">Glasgow</a>
    <a href="/#instagram">Instagram</a>
    <a href="/#updates">Updates</a>
    <a href="/blog">Blog</a>
    <a href="/#contact">Contact</a>
  </nav>
</header>
